// $breakpoints
// If you want to add special mediaqueries directly into item you can use these mixing.
// ---------------------

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

/* added by one the frontend coaches.
   it uses the most common breakpoints for different
   devices. It's mobile first: so indicate mobile in  css first
   and then add bigger devices. Example see: cards.scss @include
*/


@mixin bp-small {
  @media (min-width: $screen-sm-min) {
       @content;
   }
}
/* Medium devices (desktops, 992px and up) */
@mixin bp-medium {
   @media (min-width: $screen-md-min) {
       @content;
   }
}
/* Large devices (large desktops, 1200px and up) */
@mixin bp-large {
   @media (min-width: $screen-lg-min) {
       @content;
   }
}

/* max-width breackpoint */

@mixin max-bp-xsmall {
   @media (max-width: 767px) {
       @content;
   }
}

@mixin max-bp-small {
   @media (max-width: 991px) {
       @content;
   }
}

