<div class="bigcontainer">
   <div class="col-md-4 col-md-offset-4">
      <div class="row">
      <br>
      <br>
      <br>
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Sign up</h2>
            <div class="col-md-12">

              <hr>


              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email, autofocus: true %>
                  <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  <%= f.input :password_confirmation %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Sign up", class: "btn btn-success btn-sm" %>


                </div>
                <br>
                 <%= render "devise/shared/linkfacebook" %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
