<% if user_signed_in? %>
<div id="new_comment">
  <%= form_for([topic, article, comment ],remote: true ) do |form| %>

  <%= form.text_field :content, class:"comment-input", placeholder: "Leave a comment" %>
  <%= form.hidden_field :article_id, value: article.id %>
  <%= form.button :submit, class:"btn btn-xs" %>
    <% end %>
</div>
<%end%>
