

<li>
  <div class="commenterImage">
    <%= image_tag comment.user.picture %>
  </div>
  <div class="commentText">
    <p class=""><%= comment.content %></p> <span class="date sub-text"><%= time_ago_in_words(comment.created_at)%></span>

  </div>

</li>
