/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
.navbar-wagon h3 {
cursor: pointer;

}

.home-background {
 background-color: #F7F7F7;
 width:100%;
}
