.profile-picture {

  margin-top: 50px;

  border-radius:50%;
  height: 150px;
  width: auto;

}

#profile-button {
  margin-left: 25px;
}


.username {
  margin-left: 30px;
}

#userarticles {
  margin-top: 5px;
  @include bp-medium {
    margin-top: 30px;

  }

}

#profileline {
  height: 12px;
    border: 0;
    box-shadow: inset 0 10px 10px -12px rgba(0, 0, 0, 0.5);
    margin-left: 80px;
    margin-right: 80px;

}

