


<div class="container home-background">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-4">
      <div class="row">

        <% @topics.each do |topic| %>
        <% if topic.verified == true || topic.verified == nil  %>
          <div class= "col-xs-12 col-sm-6 block-centered">
            <%= render 'shared/topictemp', topic: topic %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

