<%if @article.errors.any? %>

   $("#exampleModal").html("<%= escape_javascript(render 'articles/new') %>");
   $(".Url").addClass("has-error");
   $(".Title").addClass("has-error");
   $(".Description").addClass("has-error");
   $("span").hide().fadeIn("slow");

<%else %>

        // $.ajax({
        //   type: 'POST',
        //   data: {topic: {topic_id = '<%=@topic.id%>'}}
        //   url: "/topics/" + '<%=@topic.id%>' + '/articles/',
        //   success: function(data) {

        //   }
        // });


$('#exampleModal').modal('hide').empty();
  window.location.reload();


<%end %>
