<div class="container">
 <div class="row">
   <div class="col-xs-12 col-md-8 col-md-offset-2 text-align-center">
    <h1 class="article-title "><%="#{@topic.name}"%></h1>
   </div>
 </div>
</div>
  <%= render 'shared/autherror_article' %>
  <%= render 'shared/votingerror' %>

  <% if user_signed_in? %>
  <%= button_to 'Add an article', new_topic_article_path, class: "btn add-article center-block  btn-success", remote:true, data: {toggle: "modal", target: "#exampleModal"}, method: :get %>
  <div class="modal fade" id="exampleModal" tabindex= "-1"   role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
  <%else%>
    <button type="button" class="btn add-article center-block  btn-success" data-toggle="modal" data-target="#articlemodal">Add an article</button>
  <%end%>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 text-align-center">

        <% @articles.each do |article| %>
          <div class="card card-article">

            <%= render 'shared/upvote', article: article %>

            <div class="comments">
              <% commentcount = 0%>
              <ul class="commentlist-<%= article.id %>" >
                <% article.comments.reverse_each do |comment|%>
                <%commentcount +=1%>
                <% if commentcount > 3%>
                  <div class="hidden hiddencomments-<%= article.id%>" >
                    <%= render 'comments/show', comment: comment %>
                  </div>
                  <% else %>
                      <%= render 'comments/show', comment: comment %>
                  <% end%>
                <% end %>
              </ul>
            <!-- <button type="button" class="btn btn-xs">show more</button> -->
            <% if commentcount > 3%>
            <a class="show-more col-md-offset-1" data-article=<%= article.id%>>earlier comments</a>
            <%end%>
            <%= render 'comments/form', article: article, comment: article.comments.build(), topic: article.topic %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.post-upvote-arrow').click(function() {
        var id = $(this).data('id');
        var topicId = $(this).data('topicid');

        $.ajax({
          type: 'POST',
          url: "/topics/" + topicId + '/articles/' + id + '/vote',
          success: function(data) {

          }
        });

      });
      $(".show-more").click(function(event)  {

        var article_id = $(this).data('article')
        $('.hiddencomments-'+article_id).toggleClass('hidden');

        });


      $("#modal-window").click(function () {
        $("aria-hidden").toggleClass('hidden')
      });
    });
  </script>
<% end %>
