<%if @article.errors.any?%>
  <% @article.errors.full_messages.each do |message| %>
    <%if message == "Title is too short (minimum is 8 characters)"%>
      <%@too_short = message%>
    <%elsif message == "Url seems to be invalid"%>
      <%@urlinvalid = message%>
    <%elsif message == "Description is too short (minimum is 10 characters)"%>
      <%@description = message%>
    <%else%>
      <%@other_error= message%>
    <%end%>
  <%end%>
<%end%>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 ">

        <h3 class= "col-md-offset-4">Add your article here</h3>

      <%= form_for [@topic, @article], html: {class: "form-horizontal newarticle-form", role:"form"} do |f| %>

      <div class="form-group <%=@too_short%>">
        <%= f.label :title, class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: "form-control"%>
         <span class="help-block"><%=@too_short%></span>
        </div>
      </div>

      <div class = "form-group <%=@urlinvalid%>">
        <%= f.label :url, class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :url, class: "form-control" %>
          <span class="help-block col-sm-10"><%=@urlinvalid%></span>
        </div>
      </div>

    <div class="form-group <%=@description%>">
      <%= f.label :description, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_area :description, class: "form-control", rows:3 %>
        <span class="help-block col-sm-10"><%=@description%></span>
      </div>
    </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
           <%= f.submit "Submit", class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :after_js do %>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".Url").addClass("has-error");
      $(".Title").addClass("has-error");
      $(".Description").addClass("has-error");
       $("span").hide().fadeIn("slow");

      });
  </script>
<%end%>


