//put your flahs already voted method here
$('div').find('[data-id=<%= @article.id %>]').next().text('<%= @article.votes %>')
<% if votingerror %>
$("#smallmodal").modal('show');
<% end %>

// $("#flash").html('<%= j render partial: "shared/flashes" %>');
