<%if @topic.errors.any?%>
  <% @topic.errors.full_messages.each do |message| %>
    <% if message == "Name is too short (minimum is 2 characters)"%>
      <%@too_short = message%>
    <%elsif message == "Description is too short (minimum is 10 characters)"%>
      <%=@desciption = message%>
    <%else%>
      <%@other_error= message%>
    <%end%>
  <%end%>
<%end%>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="topicModalLabel">Suggest a topic</h4>
      </div>
      <br>
      <p class= "col-sm-11 col-sm-offset-1 text-align-center">Please let us know which topic you would like to curate. A short description would be handy. We will be in touch soon!</p>
      <br>
      <br>
      <br>
     <%= simple_form_for (@topic), html: {class: "form-horizontal newtopic-form", role:"form", remote:true} do |f| %>
        <div class="modal-body">
          <div class="form-group <%=@too_short%>">
            <%= f.label :name, class: "control-label col-sm-2" %>
            <div class="col-sm-8">
             <%= f.text_field :name, class: "form-control" %>
             <span class="help-block"><%=@too_short%> </span>
            </div>
          </div>

           <div class = "form-group <%=@desciption%>">
            <%= f.label :description, class: "control-label col-sm-2" %>
          <div class="col-sm-8">
            <%= f.text_field :description, class: "form-control" %>
            <span class="help-block"><%=@desciption%></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.input :picture, class: "form-control" %>
          </div>
        </div>
      </div>

      <%= f.input :verified, as: :hidden, input_html: { value:false } %>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.submit "Submit", class: "btn btn-success" %>
      </div>
    </div>
  </div>
  <% end %>
</div>






