<%if @topic.errors.any? %>

   $("#topicModal").html("<%= escape_javascript(render 'topics/new') %>");
   $(".Name").addClass("has-error");
   $(".Description").addClass("has-error");
   $("span").hide().fadeIn("slow");

<%else %>

  $('#topicModal').modal('hide').empty();
  window.location.reload();


<%end %>

