<div>

<h1>Topics</h1>

<%= simple_form_for (@topic) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.input :picture %>
  <br>
  <%= f.submit "Submit" %>
<% end %>

</div>
