<% content_for :body_class, "home" %>


<div class="banner">
  <div class= "title-container ">
    <div class="headline text-align-center">
      <h1 class="text-center">Topycal</h1>
      <h3 class="text-center" >Find the best articles</h3>
    </div>
  </div>
</div>


<div class="container home-background">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="row">

        <% @topics.each do |topic| %>
        <% if topic.verified == true || topic.verified == nil  %>
          <div class= "col-xs-12 col-sm-6">
            <%= render 'shared/topictemp', topic: topic %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


