<div>
<%if @topic.errors.any?%>
  <% @topic.errors.full_messages.each do |message| %>
    <% if message == "Name is too short (minimum is 2 characters)"%>
      <%=@too_short = message%>
    <%elsif message == "Description is too short (minimum is 10 characters)"%>
      <%=@desciption = message%>
    <%else%>
      <%@other_error= message%>
    <%end%>
  <%end%>
<%end%>

<h1>Topics</h1>

 <%= simple_form_for (@topic), html: {class: "form-horizontal newtopic-form", role:"form"} do |f| %>

  <div class="form-group <%=@too_short%>">
    <%= f.label :name, class: "control-label col-sm-2" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control"%>
      <span class="help-block"><%=@too_short%> </span>
    </div>
  </div>

  <div class = "form-group <%=@desciption%>">
    <%= f.label :description, class: "control-label col-sm-2" %>
    <div class="col-sm-8">
      <%= f.text_area :description, class: "form-control", rows:3 %>
      <span class="help-block"><%=@desciption%></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.input :picture, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <%= f.submit "Submit", class: "btn btn-success" %>
    </div>
  </div>
<%end%>
</div>



<%= content_for :after_js do %>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".Name").addClass("has-error");
      $(".Description").addClass("has-error");
      $("span").hide().fadeIn("slow");

      });
  </script>
<%end%>
