 <div class="modal fade bs-example-modal-sm " id="authmodal" tabindex="-1"  aria-labelledby="mySmallModalLabel">

<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title">Almost there</h5>
    </div>
    <div class="modal-body">
      <p>Please sign in before suggesting a topic</p>
      </div>
    </div>
  </div>
</div>

