
<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <!-- <a href="/">
      <img src="logo.png" class="navbar-wagon-logo">
    </a> -->
    <h3 id="logo-left">Topycal</h3>

      <div class="navbar-wagon-pusher"></div>


    <%= form_tag(search_find_path,  method: :get, class: "navbar-wagon-search hidden-xs hidden-sm") do |f| %>
      <%= text_field_tag :search, '', class: 'navbar-wagon-search-input', placeholder: 'Search' %>
      <%= button_tag(type: "submit", class: "navbar-wagon-search-btn") do %>
        <i class="fa fa-search"></i>
      <% end %>
    <% end %>

        <div class="navbar-wagon-pushagain"></div>

    <hr class="hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link hidden-xs" do %>
        <div class="icon-badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="icon-badge icon-badge-blue">3</div>
        </div>
      <% end %>
      <hr>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag current_user.picture, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
              <% end %>
            </li>
            <li>
              <%= link_to :controller => "devise/sessions", :action => "destroy" do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
    <hr>
    <% if user_signed_in? %>
    <%= button_to t(".top_call_to_action", default: "Suggest a topic"), new_topic_path, class: "navbar-wagon-item navbar-wagon-button btn", remote:true, data: {toggle: "modal", target: "#topicModal"}, method: :get%>
  </div>
    <%else%>
        <button type="button" class="navbar-wagon-item navbar-wagon-button btn" data-toggle="modal" data-target="#authmodal">Suggest a topic</button>
  <%end%>

</nav>

<div class="modal fade" id="topicModal" tabindex= "-1"   role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

<%= render 'shared/autherror' %>




