<div class="post">
  <div class='post-upvote'>
    <div class="post-upvote-arrow" data-id=<%= article.id %> data-topicid= <%= article.topic_id %>></div>
      <%form_authenticity_token %>


      <!-- There's no form token sent for the click on the upvote button so you get an authenticity  issue. You need to find a way to either use the classicd html style or rewrite in form_tag style to make it work -->

    <div class='post-upvote-count'><%= article.votes %></div>
  </div>
  <div class='post-body'>

      <a href= "<%= article.url %>"  target="_blank"><p><%= "#{article.title}" %></p></a>


  </div>
  <div class='post-controls'>
    <i class="fa fa-comment post-control post-control-hidden"></i>
    <i class="fa fa-star post-control post-control-hidden"></i>
    <div class="post-control">

    </div>
  </div>
</div>
