
  <div class="post">
    <div class='post-upvote'>
      <div class="post-upvote-arrow" data-id=<%= article.id %> data-topicid= <%= article.topic_id %>></div>
        <%form_authenticity_token %>



      <div class='post-upvote-count'><%= article.votes %></div>
    </div>
    <div class='post-body'>

        <a href= "<%= article.url %>"  target="_blank"><h5><%= "#{article.title}" %></h5></a>


    </div>
    <div class='post-controls'>
      <i class="fa fa-star post-control post-control-hidden"></i>
      <div class="post-control">
        <div class="user-badge-container ">
           <%= image_tag article.user.picture, class: "avatar" %>
          <!-- <div class="user-badge user-badge-black user-badge-bordered">M</div> -->
        </div>
      </div>
    </div>
  </div>






