 <div class="modal fade bs-example-modal-lg " id="smallmodal" tabindex="-1"  aria-labelledby="mySmallModalLabel">

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title">Friendly reminder</h5>
    </div>
    <div class="modal-body">
      <p>You have already upvoted this article. Why not checkout another article?</p>
      </div>
    </div>
  </div>
</div>

