<h1>Publishers#new</h1>
<p>Find me in app/views/publishers/new.html.erb</p>

<%= form_for [@interest, @publisher], html: {class: "form-horizontal newtopic-form", role:"form"} do |f| %>
<div class="form-group">
<%= f.label :publisher, class: "control-label col-sm-2" %>
<div class="col-sm-8">
<%= f.text_field :publisher, class: "form-control"%>
      <span class="help-block"></span>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :feed, class: "control-label col-sm-2" %>
    <div class="col-sm-8">
      <%= f.text_field :feed, class: "form-control"%>
      <span class="help-block"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <%= f.submit "Submit", class: "btn btn-success" %>
    </div>
  </div>
  </div>
  <%end%>
