e <h1>Interests</h1>




 <%= form_for [@user, @interest], html: {class: "form-horizontal newtopic-form", role:"form"} do |f| %>

  <div class="form-group">
    <%= f.label :name, class: "control-label col-sm-2" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control"%>
      <span class="help-block"> </span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <%= f.submit "Submit", class: "btn btn-success" %>
     <br>
     <h1>Six*Design</h1>
    </div>
  </div>
<%end%>


<br>

<div id="typed-strings">
<p>Yeah boy</p>
</div>
<span id="typed"></span>



<%= content_for :after_js do %>
  <script type="text/javascript">
   $(document).ready(function() {
      $(function(){
        $("#typed").typed({
            stringsElement: $('#typed-strings')
        });
    });
  });

  </script>
<% end %>
