<div class="container">
 <div class="row">
   <div class="col-xs-12 col-md-8 col-md-offset-2 text-align-center">

   </div>
 </div>
</div>
  <%= render 'shared/autherror_article' %>
  <%= render 'shared/votingerror' %>




<% @interests.each do |interest|%>
<br>
  <%=interest.name%>
<%end%>


