.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  &-fixed {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
  }
  h3{
    width: 80px;
    margin-left: -18px;
    margin-bottom: 27.25px;
    order: 0;
  }
  &-fontlogo {
    height: 33px;
    width: 72px;
    margin-left: 8px;
  }

  &-container {
    display: flex;
    height: 70px;
    align-items: center;
  }
  &-pusher {

    flex: 0.06 1 auto;

  }

  &-pushagain {
    flex: 1 1 auto;
  }


  &-item {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 0 10px;
  }
  &-search {
    flex: 0 1 250px;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    position: relative;
    &-btn {
      line-height: 40px;
      color: #E6E6E6;
      border: none;
      background: transparent;
      position: absolute;
      right: 14px;
      top: -2px;
      z-index: 1;
    }
    &-input {
      flex: 0 1 300px;
      transition: all 0.15s ease;
      line-height: 40px;
      font-weight: lighter;
      color: #666666;
      border: 1px solid #E6E6E6;
      border-radius: 5px;
      padding: 0 10px;
      font-size: 14px;
      outline: none;
    }
    &-input:focus  {
      border: 1px solid #1F271B;
    }
  }
  &-link {
    color: #616668;
    font-size: 14px;
    &:hover {
      color: #da552f;
      text-decoration: none;
    }
  }
  &-button {
    margin-left: 10px;
    padding: 0 20px;
    border-radius: 0.3em;
    line-height: 40px;
    background-color: #F7F7F7;
    color: grey;
    font-size: 14px;box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    border-color: #ccc;

    // border: 1px solid #000000 ;

    &:hover {
      color: white;
      background: $brand-color;
      border-color: darken($brand-color, 10%);
    }
  }
  &-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
    li > a {
      transition: color 0.3s ease;
      font-weight: lighter !important;
      color: #999999 !important;
      font-size: 15px !important;
      line-height: 22px !important;
      padding: 10px 20px;
      &:hover {
        background: transparent !important;
        color: black !important;
      }
    }
    &:before {
      content: ' ';
      height: 10px;
      width: 10px;
      position: absolute;
      right: 10px;
      top: -6px;
      background-color: white;
      transform: rotate(45deg);
      border-left: 1px solid #E6E6E6;
      border-top: 1px solid #E6E6E6;
    }
  }

  hr {
    height: 12px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
  }
}
