<div class="bigcontainer">
   <div class="col-md-4 col-md-offset-4">
      <div class="row">
      <br>
      <br>
      <br>
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Log in</h2>
              <div class="col-md-12">

              <hr>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <div class="form-inputs">

                  <%= f.input :email, required: false, autofocus: true %>
                  <%= f.input :password, required: false %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Log in", class: "btn btn-success btn-sm" %>
                </div>

              <% end %>
              <br>
              <%= render "devise/shared/links" %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

