
.btn.add-article {
   background-color: #F7F7F7;
   border-radius: 0.3em;
   color: grey;
   border-color: #ccc;
   font-weight: 500;
   box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);


   &:hover {
      color: white;
      background: $brand-color;
      border-color: darken($brand-color, 10%);

   }


}

.post-body {
  h5 {
    text-decoration: none;
    color: black;
  }
}

.card.card-article {
  margin: 60px;
  height: auto ;
  width: auto;

.btn.btn-xs {
  margin-left: 20px;
  margin-bottom: 5px;
  background-color: #F7F7F7;
   border-radius: 0.3em;
   color: grey;
   box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);

}

.show-more {
  cursor: pointer;
}

}

.article-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.comments {
  margin-left: 40px;

li {
  margin: 20px;
}
}

.commentlist {
  list-style-type: none;
  margin: 10px;

}

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
.comment-input {
  width: 75%;
  // border-radius: 0.1em;
}

