.card {
    padding: 15px;
    height: 300px;
    border-style: solid;
    border-radius: 0px;
    margin-top: 30px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    background-color: #FFFFFF;
    border: none;

    box-shadow: 0.2px 0.8px 4px 0px #bcbcbc;

.image-block {
  display: block;
  overflow: hidden;
  height: 100px;
  @include bp-small{
    height: 170px;
  }
  img {
    width: 100%;

  }

}

 a {
    text-decoration: none;
    color: black;

  }
  // &-img-top {
  // width: 100%;

  // }

}


// .cardline {
//     border: 0;
//     width: 96%;
//     height: 10px;
//     background: #333;
//     margin-bottom: -15px;


//     }


