// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";
@import "config/toolbox";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

@media(max-width: 991px) {
  .navbar-wagon h3 {
    margin-right: 20px;
    margin-left: 0px;
    font-size: 14px;
    margin-top: 27px;
    cursor: pointer;
    font-variant: bold;
  }
}


